
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    border: 1px solid;
    padding: 10px 10px 10px 10px;
    margin: 150px auto;

  }
  
  .example-full-width {
    width: 100%;
  }

  .container{
    margin-left: 0px;
    height: 430px;
  }
  .example-form{
    margin-top: 80px;
    margin-left:200px;
  }